# Python Environment
venv/
__pycache__/
*.pyc

# OS Files
.DS_Store
Thumbs.db

# Datasets (Do not commit heavy images to Git)
data/scene/*.jpeg
data/scene/*.jpg
data/scene/*.png
data/scene_opensource/

# COLMAP & 3D Output Binaries (Too heavy for Git)
*.db
*.bin
*.ply
*.obj
outputs/
outputs_opensource/
